   .feynman {
    min-height:  790px;
    background-color: #f2f2f2; /* страница имеет серый фон */
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
   }
