.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2; /* страница имеет серый фон */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0;
  position: relative;
  overflow: hidden;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */



 .logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
  }