.footer__column {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
   }
   .footer__column_content_copyright {
    flex-basis: 711px;
    justify-content: space-between;
   }
   .footer__column_content_info {
    justify-content: flex-start;    
   }
   .footer__column_content_social {
    justify-content: flex-start;
   }
   .footer__column-heading {
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-align: left;
   }
   .footer__column-links {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 16px 0px;
    padding: 0;
    list-style: none;
   }
   .footer__social-icon {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin-right: 10px;
   }
   .footer__column-link {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    }
    .footer__column-link:hover {
  opacity: 0.5;
  transition: opacity 3s linear 0s;
  }