   @import url(../footer/__columns/footer__columns.css);
   @import url(../footer/__column/footer__column.css);
   @import url(../footer/__author/footer__author.css);

   .footer {
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
    min-height: 350px;
    box-sizing: border-box;
    border: 1px solid #1f1f1f;
   }
   
   
   .logo_place_footer {
    margin: 0;
    padding: 0;
   }